/* html { overflow-y: scroll; } */
/*Body margin made 0 to override the default border of the browser*/
body
{
  background-image: url("../images/white-waves.png");
    margin: 0px; 
}

/*Style of the navbar*/
.topnav {
  background-color:#ffffff;
  overflow: hidden;
  width :100%;
    height :75px;
    border-bottom: 2px solid #cccccc; 
}

/* Style the links inside the navigation bar */ 
.topnav a {
  float: left;
  
  
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
height: 100%;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:grey;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* to size the container to 960 px*/
  .menu-container
  {

    height: 100%;
    position:relative;
    left :630px;

  }

  /*Style for your name*/
  .myname
  {
background-color: #4aaaa5;
color:white  ;
float: left;

left: 0;
 height:100%;
 text-align: center;
 padding: 2%;
 font-family: 'Georgia', Times, Times New Roman, serif;
 font-size: 25px;
 position: relative;
 left: 12.75%;
 font-weight: bold;

  }

  
  /*Style for your main body*/

  .main-body{
   height:60%;
    width: 908px;
      background-color: #ffffff;
    margin-top: 25px;
      padding: 25px;
     float: left; 
     border: 1px solid #dddddd;
     position: relative;
     left: 12.75%;
     
     overflow-y: scroll; 
  }
  
  /*Style for hover types*/
  a:hover:not(.active) {
    background-color: darkslategrey; 
  }
  /*Style for active hover*/
  .active {
    background-color:lightgrey;
  }

 /*Style for footer*/

  footer{
    clear:both;
    position: fixed;
    float:left;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    color:white;
    text-align: center;
    border-top: 10px solid #4aaaa5; 
height: 40px;
margin-top: 40px;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size:5pt;
z-index: 3;
  }
/* section{
    height:100%;
} */

/*CSS for the body header*/
.body-heading{
      padding-bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    color:#4aaaa5;
    border-bottom: 2px solid lightgray;
    
    display: block;
    font-weight: bold;

  }
  
  
/* STyle for your image and para in index.html*/

  .me{
  display: inline;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  font-size: 17px;
  
    
  }
  
/* STyle for your image  in index.html*/
  #bioimage{
    
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }
/* assigning width and height for all images*/
  img{
    width: 250px;
    height: 200px;
    
  }

  /* body-contant size*/
  .body-content
  {


width:80%;

text-align: center;
margin-bottom: 50px;
overflow:auto;
  }

    /* images in portfolio.html */
  .column
  {
    position:relative;
    width: 250px;
    
    height:100%;
    
    float:left;
   padding-right:20px;

  }
    /* images in portfolio.html */
  .row{
    position: relative;
   height:5%;
   width:100%;
   clear:both;
   overflow-x: auto;
  

  }

  /*Heading inside main content of every page*/
  .head2{
    background-color: #4aaaa5;
color:white  ;

z-index: 2;
position:relative;
top: 180px;
height:40px;
font-family: 'Georgia', Times, Times New Roman, serif;
 font-size: 20px;
 text-align: center;
 padding: 10px;
  
  }

    /*assigning z index for every image in portfolio.html*/
  .pfimg{
    z-index: 1;

  }
  .pfimg :hover {
    border: rgb(226, 57, 204);
   
  }
 
  .pfimg .active {
    border: rgb(6, 238, 14);
   
  }
  /*padding to about me content that it starts below heading*/
  .aboutme{
padding-top: 25px;
  }

  /* about me paragraph style*/
  #myp{
    padding-bottom: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    line-height:27 px;
    margin-bottom: 27px;
  }
  /* Style the text area  etc in contact.html */

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 12px;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
    font-size: 17px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #012e2c;
  }
  


/* Add a color to the active/current link */
input[type=submit]:active {
  background-color: rgb(6, 238, 14);
  color: white;
}
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
   
    padding: 20px;
  }
/* font label styles for contact.html */
  label{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 12px;
  }
  .scrl{
    overflow-y: scroll; 
  }